/* src/css/adminDashboard.css */

/* Dashboard layout */
.dashboard-layout {
  display: flex;
  height: 100vh;
  background-color: #f4f7fc;
}

.sidebar {
  width: 230px;
  background-color: #1e4360;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.8rem;
  color: #ecf0f1;
}

.content-container {
  flex: 1;
  padding: 20px;
}


.dashboard-header {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
}

.dashboard-path {
  color: white;
  width: 500px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* Cards container */
.dashboard-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

/* Individual card styles */
.dashboard-card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.students-card {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.teachers-card {
  background: linear-gradient(135deg, #ff512f, #dd2476);
}

.sponsors-card {
  background: linear-gradient(135deg, #11998e, #38ef7d);
}

.outstanding-payments-card {
  background: linear-gradient(135deg, #f7971e, #ffd200);
}

.received-payments-card {
  background: linear-gradient(135deg, #8e44ad, #3498db);
}

.classrooms-card {
  background: linear-gradient(135deg, #d790e0, #cddb34);
}

.dashboard-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dashboard-card p {
  font-size: 2rem;
  font-weight: bold;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .dashboard-cards-container {
    grid-template-columns: 1fr;
  }
}



.reduced-size {
  display: none; 
}

.hidden-header {
  display: none;
}

/* Alternatively, you can reduce the size instead of hiding */
/* .reduced-size {
  transform: scale(0.6);
  opacity: 0.5;
  pointer-events: none;
} */

/* Style for admin-link */
.admin-link {
  text-decoration: none; /* Removes the underline */
  color: white; /* Makes the link text white */
  font-weight: bold; /* Makes the link text bold */
}

.admin-link:hover {
  color: #f0f0f0; /* Optional: Add a hover effect for better user interaction */
}
