/* Header CSS */
.navbar {
  background-color: #343a40; /* Dark background */
}

.navbar .brand {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navbar .brand img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}

.brand h1 {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}


/* Navbar Customization */
.navbar {
  background-color: #007bff !important;
  /* Blue background */
}

.navbar-brand h1 {
  font-size: 1.5rem;
  /* Brand font size */
  color: white;
}

.nav-link {
  color: rgb(25, 23, 23) !important;
  /* Make links white */
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
  color: #ffc107 !important;
  /* Highlight on hover */
}