/* paymentHistory.css */

.history-container {
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #f8f9fa;
}

.history-container h2 {
  margin: 0; /* Remove margin to avoid space above the heading */
  padding: 16px; /* Add padding if spacing around the text is needed */
}

.history-container p {
  margin: 16px 0;
  padding: 0 16px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.history-table th,
.history-table td {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.history-table th {
  background-color: #4CAF50;
  color: white;
}

.history-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
